* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    font-size: 20pt;
    background: #D1F7FF;
    padding: 10pt;
    position: fixed;
    top: 0;
    left: 0;
    height: 25pt;
    width: 100%;
}

#main-page {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 45pt;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
}

#story-page {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 45pt;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
}

body.moveRight #main-page {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate(100%, 0);
}

body.moveRight #story-page {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate(100%, 0);
}

#main-content {
    float: left;
    width: 80%;
}

#stories {
    padding: 0 10pt 0 10pt;
    border-right: 1px solid #eee;
}

#story {
    padding: 10pt;
}

#side-content {
    width: 20%;
    float: right;
}

#items {
    padding: 10pt;
}

.story-headline {
    font-size: 20pt;
}

a {
    color: #267FD9;
}
.story-headline a {
    text-decoration: none;
}

.story-byline {
    font-size: 13px;
    color: #A2A2A2;
}

.story-full {
    margin-top: 1em;
    color: #505050;
}

.story-excerpt {
    margin: 1em 0;
    color: #505050;
}

.story-readmore {
    display: block;
    text-decoration: none;
}

.homepage-story-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.hidden {
    display: none;
}

#show-more-articles, #show-more-firehose-items {
    margin: 1em;
    text-align: center;
}

.firehose-item-twitter, .firehose-item-link {
    margin: 1em 1em 2em 1em;
    font-size: 10pt;
    word-wrap: break-word;
}

.firehose-item-author {
    text-align: right;
    margin-top: 0.2em;
    color: gray;
}

.firehose-item-title {
    font-weight: bold;
    margin-bottom: 0.1em;
}