* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    font-size: 20pt;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, rgb(0,0,0)),
        color-stop(0.52, rgb(48,48,48)),
        color-stop(1, rgb(77,77,77))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(0,0,0) 4%,
        rgb(48,48,48) 52%,
        rgb(77,77,77) 100%
    );
    color: white;
    padding: 10pt;
    position: fixed;
    top: 0;
    left: 0;
    height: 25pt;
    width: 100%;
    -webkit-box-shadow: #999999 1px 1px 6px;
    z-index: 2; 
}

#main-page {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 45pt;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
}

#story-page {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 45pt;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
}

body.moveRight #main-page {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate(100%, 0);
}

body.moveRight #story-page {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate(100%, 0);
}

#main-content {
    float: left;
    width: 80%;
    height: 100%;  /* TODO: this is temporary until we have a lot of content */
    border-right: 1px solid #BB9;
    -webkit-box-shadow: #D0D0C5 2px 2px 6px;
}

#stories {
    padding: 0 10pt 0 10pt;
}

#side-content {
    width: 20%;
    float: right;
    background: #F6F6F0;
}

#story-content {
    float: left;
    width: 80%;
    height: 100%;  /* TODO: this is temporary until we have a lot of content */
    border-right: 1px solid #BB9;
    -webkit-box-shadow: #D0D0C5 2px 2px 6px;
}

#story {
    padding: 10pt;
    border-right: 1px solid #eee;
}

#story-side-content {
    width: 20%;
    float: right;
    background: #F6F6F0;
}

.story-headline {
    font-size: 20pt;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
}

a {
    color: #267FD9;
}
.story-headline a {
    text-decoration: none;
}

.story-byline {
    font-size: 13px;
    color: #A2A2A2;
}

.story-full {
    margin-top: 1em;
    color: #505050;
}

.story-excerpt {
    margin: 1em 0;
    color: #505050;
}

.story-readmore {
    display: block;
    text-decoration: none;
}

.homepage-story-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.hidden {
    display: none;
}

.current-story-small {
    background: yellow;
}

#show-more-articles, #show-more-firehose-items {
    margin: 1em;
    text-align: center;
}

.firehose-item-twitter, .firehose-item-link, .story-small {
    padding: 1.5em 1em 1.5em 1em;
    font-size: 10pt;
    word-wrap: break-word;
    border-bottom: 1px solid #BB9;
}

.firehose-item-author {
    text-align: right;
    margin-top: 0.2em;
    color: gray;
}

.firehose-item-title, .story-small-headline {
    font-weight: bold;
    margin-bottom: 0.1em;
}