* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#header {
    font: 40pt sans-serif;
}

#main-content {
    margin: 10px;
}

.story-headline {
    font: 20pt serif;
}

a {
    color: #267FD9;
}
.story-headline a {
    text-decoration: none;
}

.story-byline {
    font-size: 13px;
    color: #A2A2A2;
}

.story-full {
    margin: 8pt 0 20pt 0;
    color: #505050;
}

.story-excerpt {
    margin: 8pt 0;
    color: #505050;
}

.story-readmore {
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}


.hidden {
    display: none;
}