* {
    font-family: Cambria, 'Lucida Grande', Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #267FD9;
}

h1 {
    display: inline;
    float: left;
    font-size: 20pt;
    font-weight: normal;
    color: white;
    margin: 0;
}

h1 a {
    color: white;
    text-decoration: none;
}

h1 a:hover:after {
    padding-left: 4px;
    color: #999;
    font-size: 10pt;
    content: "↩ go back home";
}

#header {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, rgb(0,0,0)),
        color-stop(0.52, rgb(48,48,48)),
        color-stop(1, rgb(77,77,77))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(0,0,0) 4%,
        rgb(48,48,48) 52%,
        rgb(77,77,77) 100%
    );
    padding: 10pt;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 25pt;
    width: 100%;
    -webkit-box-shadow: #999999 1px 1px 6px;
       -moz-box-shadow: #999999 1px 1px 6px;
    z-index: 2; 
}

#sponsor {
    float: right;
    color: transparent;
    width: 210px;
    height: 100%;
    background-image: url(/images/sponsor.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#main-page {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 45pt;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
}

#story-page {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 45pt;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
}

body.moveRight #main-page {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate(100%, 0);
}

body.moveRight #story-page {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate(100%, 0);
}

#main-content {
    float: left;
    width: 80%;
    height: 100%;  /* TODO: this is temporary until we have a lot of content */
}

#stories {
    padding: 0 10pt 0 10pt;
    border-right: 1px solid #BB9;
    -webkit-box-shadow: #D0D0C5 2px 2px 6px;
       -moz-box-shadow: #D0D0C5 2px 2px 6px;
}

.sidebar {
    width: 20%;
    float: right;
    background: #F0F2F4;
    line-height: 1.2em;
}

#story-content {
    float: left;
    width: 80%;
    height: 100%;  /* TODO: this is temporary until we have a lot of content */
    -webkit-box-shadow: #D0D0C5 2px 2px 6px;
       -moz-box-shadow: #D0D0C5 2px 2px 6px;
}

#story {
    padding: 10pt;
    border-right: 1px solid #BB9;
    height: 100%;
}

.author, .tags {
    color: #333;
}

.story-headline {
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
    font-size: 20pt;
}
.story-headline a {
    color: #000;
    text-decoration: none;
}
.story-headline a:hover, .firehose-item-author:hover {
    color: #267FD9;
}
.story-headline a:hover:after {
    padding-left: 4px;
    color: #999;
    font-size: 10pt;
    content: "↩ read more";
}

.story-byline {
    font-size: 13px;
    color: #A2A2A2;
}

.story-full {
    margin-top: 1em;
    color: #505050;
    line-height: 24px;
}

.story-excerpt {
    margin: 1em 0;
    color: #505050;
}

.story-readmore {
    display: block;
    text-decoration: none;
    color: #999;
    font-size: 10pt;
}
.story-readmore:hover {
    color: #267FD9;
}

.homepage-story-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.hidden {
    display: none;
}

.current-story-small {
    background: #E4E6E8;
}

#show-more-articles, #show-more-firehose-items {
    margin: 1em;
    text-align: center;
}

.firehose-item-twitter, .firehose-item-link, .story-small {
    padding: 1.5em 1em 1.5em 1em;
    font-size: 10pt;
    word-wrap: break-word;
    border-bottom: 1px solid #BB9;
}

.story-small {
    cursor: pointer;
}

.firehose-item-author {
    display: block;
    text-align: right;
    margin-top: 0.2em;
    color: gray;
    text-decoration: none;
}

.firehose-item-author:before {
    content: "@";
}


.firehose-item-title, .story-small-headline {
    display: block;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-decoration: none;
    color: #000;
}
.firehose-item-title:hover {
    color: #267FD9;
}