#header {
    font: 40pt sans-serif;
}

#main-content {
    margin: 10px;
}

.story-headline {
    font: 20pt serif;
}

.story-byline {
    font: 9pt sans-serif;
}

.story-full {
    margin: 8pt 0 20pt 0;
}

.story-excerpt {
    margin: 8pt 0;
}

.story-readmore {
    margin-bottom: 20pt;
}

.hidden {
    display: none;
}